email-automation/email-automation.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {},
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1g0K2cChztjr0pItsS9ggnq3SAugP96REQvS3rwh8pgo",
          "mode": "list",
          "cachedResultName": "demo sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g0K2cChztjr0pItsS9ggnq3SAugP96REQvS3rwh8pgo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g0K2cChztjr0pItsS9ggnq3SAugP96REQvS3rwh8pgo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -192
      ],
      "id": "bea5c743-a48b-4d51-ac1f-1ed5fb2f7b74",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "vUpMEroRolqLPrfa",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Demos",
          "mode": "list",
          "cachedResultName": "Demos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json['ID '] }}",
            "Salary": "={{ $json['Salary '] }}",
            "Name": "={{ $json['Name '] }}",
            "Email": "={{ $json['Email '] }}",
            "Designation": "={{ $json.Designation }}"
          },
          "matchingColumns": [
            "Name",
            "ID"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Designation",
              "displayName": "Designation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        48
      ],
      "id": "daa00cc4-a9c8-4904-9adb-7dea1b4b6c50",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "FUZ6DACtYyIhtVLL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Welcome Home",
        "emailType": "text",
        "message": "=Dear {{$json[\"Name\"]}},\n\nWe hope this message finds you well.\n\nPlease find below a summary of your current employment details:\n\nDesignation: {{$json[\"Designation\"]}}\nSalary: ${{$json[\"Salary\"]}}\n\nIf you have any questions or need further clarification, please contact the HR department.\n\nBest regards,\nHuman Resources Team\nGoogle Inc ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        48
      ],
      "id": "dace0347-761e-4102-980d-672310f6e7f0",
      "name": "Send a message",
      "webhookId": "306283c1-228f-44aa-b01b-d9bd3c3f314c",
      "credentials": {
        "gmailOAuth2": {
          "id": "ROgUyUIQ1zq8z7hd",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Demos",
          "mode": "list",
          "cachedResultName": "Demos"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        -176
      ],
      "id": "523b5471-a0d4-428f-b115-ce3ece653e84",
      "name": "Select rows from a table",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "FUZ6DACtYyIhtVLL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        704,
        -176
      ],
      "id": "2fa2cfb6-11c1-4e80-9e36-a9375602dccd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ROgUyUIQ1zq8z7hd",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "responses": {
          "values": [
            {
              "content": "=write a simple reply of  this message \n\n{{ $json.snippet }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        736,
        48
      ],
      "id": "14f9ecd2-714e-4ec1-8e70-840090cbf51e",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "yOUzSvoPgUNbBNp7",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        -144
      ],
      "id": "4f83f87d-74ad-4623-abf0-980a76e8b6fa",
      "name": "Reply to a message",
      "webhookId": "9432bdc8-d06e-4e3d-bc2b-4faaa8f13b12",
      "credentials": {
        "gmailOAuth2": {
          "id": "ROgUyUIQ1zq8z7hd",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1g0K2cChztjr0pItsS9ggnq3SAugP96REQvS3rwh8pgo",
          "mode": "list",
          "cachedResultName": "demo sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g0K2cChztjr0pItsS9ggnq3SAugP96REQvS3rwh8pgo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g0K2cChztjr0pItsS9ggnq3SAugP96REQvS3rwh8pgo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mail Status": "={{ $json.labelIds[0] }}",
            "Email ": "={{ $('Select rows from a table').item.json.Email }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Email "
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID ",
              "displayName": "ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Salary ",
              "displayName": "Salary ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Designation",
              "displayName": "Designation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mail Status",
              "displayName": "Mail Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        0
      ],
      "id": "5ce8078b-0b47-4d92-9fb6-302f79a180b0",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VoL2El2kyy7WkCo5",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1g0K2cChztjr0pItsS9ggnq3SAugP96REQvS3rwh8pgo",
          "mode": "list",
          "cachedResultName": "demo sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g0K2cChztjr0pItsS9ggnq3SAugP96REQvS3rwh8pgo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g0K2cChztjr0pItsS9ggnq3SAugP96REQvS3rwh8pgo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mail Status": "REPLIED",
            "Email ": "={{ $('Gmail Trigger').item.json.From.match(/<(.+)>/)[1] }}"
          },
          "matchingColumns": [
            "Email "
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID ",
              "displayName": "ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Salary ",
              "displayName": "Salary ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Designation",
              "displayName": "Designation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mail Status",
              "displayName": "Mail Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        32
      ],
      "id": "6c5866bf-322e-4297-b244-36096410593e",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VoL2El2kyy7WkCo5",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fa0e9aee-c390-4828-bca2-60879da5a659",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8259fa36da3d538f6df531034d3d062c0996e7b805cd97b0f5e5b83f37b76da3"
  },
  "id": "9lrTGSwamqEX4AtG",
  "tags": []
}
